.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Primary */

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Fraunces", serif;
  /* font-family: "Barlow", sans-serif; */
}
.padding {
  padding-left: 1.4375rem;
  padding-right: 1.4375rem;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.top {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5625rem;
}
.navigation__logo {
  width: 7.7rem;
}
.navigation__hamburguer {
  width: 1.4375rem;
}
.top__navlinks {
  display: none;
}
/* H1 */
.title {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4063rem;
  margin-top: 3.5rem;
  padding: 0rem;
  line-height: 3.1rem;
}
.top__arrow {
  margin-top: 3.0625rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 8.125rem;
}
h2 {
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding: 3.875rem 0.125rem 1.5rem 0.125rem;

  line-height: 2.4375rem;
  color: var(--very-dark-desaturated-blue);
}
.text {
  font-family: "Barlow", sans-serif;
  color: var(--dark-grayish-blue);
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.875rem;
  padding: 0 0.625rem;
  font-weight: 900;
}
.link {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 2.3125rem auto 4.375rem auto;
  font-weight: 900;
  letter-spacing: 0.0625rem;
  font-size: 0.9375rem;
  color: var(--very-dark-desaturated-blue);
  position: relative;
  width: 8.125rem;
  text-align: center;
}
.link::after {
  content: "";
  display: block;
  width: 8.375rem;
  height: 0.7rem;
  background-color: var(--yellow);
  border-radius: 1rem;
  position: absolute;
  top: 0.5625rem;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0.3;
}
.link:hover::after {
  opacity: 1;
}
/* PINK GLASS */
.pink-glass .link::after {
  background-color: var(--soft-red);
}

.pink-glass h2 {
  font-size: 2rem;
  padding: 3.875rem 1.125rem 1.5rem 1.125rem;
}
.pink-glass .text {
  padding: 0 1.25rem;
}
/* TWO BACKGROUND IMAGES */
.graphic-design {
  background: url("../images/mobile/image-graphic-design.jpg") no-repeat;
  background-size: cover;
}
.photography {
  background: url("../images/mobile/image-photography.jpg") no-repeat;
  background-size: cover;
}
.graphic-photography {
  color: var(--dark-blue);
}
.graphic-photography h2 {
  color: var(--dark-desaturated-cyan);

  padding-top: 24.75rem;
  font-size: 1.75rem;
  /* font-weight: 900; */
}
.graphic-photography p {
  font-family: "Barlow", sans-serif;
  margin-top: 0rem;
  text-align: center;
  font-weight: 600;
  padding: 0 0.75rem;
  line-height: 1.6875rem;
  padding-bottom: 3.75rem;
}
.photography h2 {
  color: var(--dark-blue);
}
.photography p {
  color: var(--dark-blue);
}

/* TESTIMONIAL */
.testimonial {
  padding: 0 23px;
  text-align: center;
}
.testimonial h2 {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  padding-top: 3.4375rem;
  padding-bottom: 0;
  margin-bottom: -0.9375rem;
}
.testimonial__image {
  border-radius: 50%;
  width: 4.5rem;
  margin: 4.375rem auto 1.875rem auto;
  display: block;
}
.testimonial__text {
  color: var(--very-dark-grayish-blue);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 2rem;
  font-size: 18px;
  margin-bottom: 2.1875rem;
}
.testimonial h3 {
  font-size: 1.125rem;
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
}
.testimonial__comment span {
  display: block;
  color: var(--grayish-blue);
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Barlow", sans-serif;
  margin-top: 1rem;
}
.testimonial__comment:last-child span {
  margin-bottom: 92px;
}

/* footer */

.footer__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 0;
}
.blank {
  display: block;
}
